{% extends "base/full.html" %}
{% block content %}
	<h1>Project Listing</h1>
	<table class="table table-striped">
		<tr>
			<th>Name</th>
			<th>Manager</th>
		</tr>
		{% if projects %}
			{% for project in projects %}
			<tr> 
				<td>{{ project.name }}</td>
				<td><a href="{% url 'project.manage' project=project.uuid %}" class="btn btn-sm btn-info">Manage</a></td>
			</tr>
			{% endfor %}
		{% else %}
			<tr>
				<td colspan="2" class="text-muted text-center">No items available</td>
			</tr>
		{% endif %}
	</table>
{% endblock %}
